<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="style.css" />
        
    </head>

    <body>
    
        
        <nav>
            <h1>Our App Chat</h1>
        </nav>
        
        
        <ul id="ul">
        
            
            
        </ul>
        
        
        <form>
        
            <input type="text" name="msg"/>
        
            <input type="submit" name="btn"/>
                   
        </form>
        
        
        <script src="jquery.js"></script>
        <script src="socket.io.js"></script>
        <script src="push.js"></script>
        <script src="script.js"></script>
    </body>
</html>